﻿<DOCTYPE html />
<html>
<head>
    <title>MVF Index</title>
</head>
<body>
<h1>MVF Index</h1>
<p>This is a test of using the rapid responsiveness and scalability of Azure functions in a familiar MVC style.</p>
</body>
</html>